@use     "base/variables" as *;
.possibilities {
    background-color: rgb(0, 0, 0);
    padding: 20px 0 0 0;
    min-height: 1260px;
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 192.49px;
        height: 40px;
        background: linear-gradient(189.47deg, #CCB2FF 4.76%, #6419FF 92.85%);
        mix-blend-mode: normal;
        padding: 2px;
        overflow: hidden;
        border: none;
        border-radius: 28px;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 13.5px;
        line-height: 2.6em;
        color: $base-white;
        transition: all 0.3s;
        span {
            padding-left: 40px;
            background: linear-gradient(91deg, rgba(3, 3, 3, 0.3) 0%, rgba(85, 85, 85, 0.3) 100%), radial-gradient(50% 50% at 50% 50%, rgba(162, 117, 255, 0.1) 0%, rgba(100, 25, 255, 0.1) 100%) , #000000;
            width: 100%;
            height: 100%;
            border-radius: 28px;
            transition: 300ms;
        }
    }
    &__title {
        margin-top: 24px;
        font-weight: 600;
        font-size: 38.3px;
        line-height: 48px;
        color: $base-white;
        text-align: center;
    }
    &__subtitle {
        margin-top: 32px;
        font-weight: 600;
        font-size: 17px;
        line-height: 24px;
        text-align: center;
        color: $base-white;
    }
    &__wrapper {
        display: flex;
        padding-top: 60px;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 12px;
    }
    &__box {
        border-radius: 16px;
        border: 1px solid #2E2E2E;
        padding: 41px 0 0 41px;
        h3 {
            font-weight: 600;
            font-size: 22.7px;
            line-height: 32px;
            color: $base-white;
        }
        .possibilities__descr {
            margin-top: 24px;
            font-weight: 600;
            font-size: 14.9px;
            line-height: 20px;
            color: $base-white;
        }
        &_1 {
            width: 725px;
            height: 520px;
            background: url('../img/bg/bg_box_1.png') center (center / cover) no-repeat;
            overflow: hidden;
            .possibilities__img {
                margin-top: 33px;
                width: 100%;
            }
        }
        &_2 {
            width: 511px;
            height: 520px;
            background-color: rgb(0, 0, 0);
            overflow: hidden;
            .img__wrapper {
                padding: 36px 61px 0 0;
                .possibilities__img {
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }
        &_3 {
            position: relative;
            width: 511px;
            height: 404px;
            background-color: rgb(0, 0, 0);
            overflow: hidden;
            .possibilities__img {
                position: absolute;
                left: 0;
                margin-top: 33px;
                width: 100%;
            }
        }
        &_4 {
            position: relative;
            width: 725px;
            height: 404px;
            background-color: rgb(0, 0, 0);
            overflow: hidden;
            .possibilities__descr {
                margin-top: 0;
            }
            .img__wrapper {
                width: 100%;
                padding-top: 25px;
                .possibilities__img_absolute {
                    position: absolute;
                    right: -1px;
                    bottom: -1px;
                }
            }   
        }
        &_5 {
            width: 618px;
            height: 436px;
            background-color: rgb(0, 0, 0);
            overflow: hidden;
            .img__wrapper {
                width: 100%;
                padding-top: 33px;
                padding-right: 40px;
            }
        }
        &_6 {
            width: 618px;
            height: 436px;
            background-color: rgb(0, 0, 0);
            overflow: hidden;
            .img__wrapper {
                width: 100%;
                padding: 33px 128.45px 0 90px;
                .possibilities__img {
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                }
            }
        }   
    }   
}