@use "base/variables" as *;
.consultation {
    min-height: 680px;
    background: url("../img/bg/bg2-min.png") center (center / cover) no-repeat;
    padding: 89px 0px 86px 0px;
    &__title {
        font-size: 36px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: left;     
    }
    &__descr {
        margin-top: 85px;
        font-size: 20px;
        font-weight: 300;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: left;
    }
    &_hidden1{
        display: none;
    }
    .error{
        border: 2px solid $red-color;
    }
    label.error{
        border: none;
        text-align: center;
        font-weight: 300;
        margin-bottom: 15px;
        color: rgb(255, 255, 255);
    }
}